@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
html, body {
  background-color: lightgray;
  font-family: 'PT Serif', serif;
  margin: 0px;
  padding: 0px;
  font-family: "游ゴシック";
  width: 80%;
}

.header-title {
  top: 50px;
  font-size: 28px;
  left: 250px;
  position: relative;
}

.header-subtitle {
  font-size: 24px;
  position: relative;
}

#nav {
  position: relative;
  left: 450px;
  top: -8px;
  overflow: hidden;
}

#nav li {
  font-size: 24px;
  list-style: none;
  text-align: center;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}

#nav li a {
  text-decoration: none;
  list-style: none;
  color: #333;
  padding: 20px;
}

.section-introduction {
  display: inline-block;
}

.my-picture img {
  top: 150px;
  width: 300px;
  left: 230px;
  position: relative;
  border-radius: 5rem;
}

.introduction-text h1 {
  float: right;
  position: relative;
  left: 550px;
  top: -200px;
}

header {
  padding: 20px 0;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.header-nav-item {
  float: left;
  margin-left: 50px;
}

.header-nav-item a {
  font-size: 15px;
  font-weight: 600;
  line-height: 36px;
}

.introduction-text h1 {
  left: 550px;
  position: relative;
  white-space: nowrap;
}

.circle {
  display: inline-block;
  width: 120px;
  left: 600px;
  top: -200px;
  margin-right: 20px;
  position: relative;
  height: 120px;
  border-radius: 50%;
  background: skyblue;
  text-align: center;
  line-height: 120px;
}

.introduction-text-comment {
  left: 560px;
  top: -170px;
  font-size: 24px;
  position: relative;
}

.footer_section {
  top: 200px;
  height: 200px;
  width: 200%;
  background-color: red;
  position: relative;
}

.footer-menu {
  float: left;
  font-size: 28px;
  top: 50px;
  left: 100px;
  margin-right: 100px;
  position: relative;
  float: left;
}

.footer-menu i {
  width: 10px;
  left: 0px;
  position: relative;
}

.footer-menu a {
  text-decoration: none;
  color: white;
  text-align: left;
}

/*career.html*/
.career-section h1 {
  left: 240px;
  position: relative;
  font-size: 42px;
}

.work-content-introduction {
  border-bottom: solid 1px;
  height: 200px;
  border-top: solid 1px;
  width: 700px;
  margin-left: 225px;
}

.circle-career {
  display: inline-block;
  width: 140px;
  left: 10px;
  top: 40px;
  margin-right: 20px;
  position: relative;
  height: 140px;
  border-radius: 50%;
  background: skyblue;
  text-align: center;
  line-height: 140px;
}

.circle-career-comment {
  left: 50px;
  position: relative;
  font-size: 20px;
}

.work-background-introduction {
  border-bottom: solid 1px;
  height: 600px;
  border-top: solid 1px;
  width: 700px;
  margin-left: 225px;
}

.background-content h1 {
  left: 200px;
  top: -100px;
  position: relative;
  font-size: 20px;
}

.background-content h2 {
  left: 200px;
  top: -120px;
  position: relative;
  font-size: 20px;
}

.background-content p1 {
  left: 200px;
  top: -120px;
  position: relative;
  font-size: 20px;
}

.background-content2 {
  top: 70px;
  position: relative;
}

.background-content2 h1 {
  left: 200px;
  top: -100px;
  position: relative;
  font-size: 20px;
}

.background-content2 h2 {
  left: 200px;
  top: -120px;
  position: relative;
  font-size: 20px;
}

.background-content2 p1 {
  left: 200px;
  top: -120px;
  position: relative;
  font-size: 20px;
}

.background-content3 {
  top: 100px;
  position: relative;
}

.background-content3 h1 {
  left: 200px;
  top: -100px;
  position: relative;
  font-size: 20px;
}

.background-content3 h2 {
  left: 200px;
  top: -120px;
  position: relative;
  font-size: 20px;
}

.background-content3 p1 {
  left: 200px;
  top: -120px;
  position: relative;
  font-size: 20px;
}
